.dark {
    background-color: black;
    color: white;
}

.dark>a {
    color: lightblue;
}

.dark>a:hover {
    color: white;
}


a {
    text-decoration: none;
}

a:hover {
    /* color: lightblue; */
    text-decoration: underline;
}

.flip {
    display: inline-block;
    transform: scaleX(-1);
    /* standard */
    filter: FlipH;
    /* IE 6/7/8 */
}